{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Finance{% endblock %}</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js"
        integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl"
        crossorigin="anonymous"></script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js"
        integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl"
        crossorigin="anonymous"></script>

    <link href="{% static 'main/styles.css' %}" rel="stylesheet">
    <script src="{% static 'main/layout.js' %}"></script>

    {% block style %}
    {% endblock style %}
</head>

<body>
    <nav class="mycolor">
        <div class="container">
            <div class="nav-wrapper">
                <a href="{% url 'index' %}" class="brand-logo">Finance</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'quote' %}">Quote</a></li>
                    <li><a href="{% url 'buy' %}">Buy</a></li>
                    <li><a href="{% url 'sell' %}">Sell</a></li>
                    <li><a href="{% url 'history' %}">History</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% block body %}
    {% endblock body %}
</body>

{% block script %}
{% if messages %}
<script>
    {% for message in messages %}
    M.toast({ html: '{{ message }}' })
    {% endfor %}
</script>
{% endif %}
{% endblock script %}

</html>